.lead {
  background-color: #2A2C2F; /* Цвет фона */
  max-width: 984px; /* Максимальная Ширина контейнера */
  margin: 0 auto; /* Выравнивание по центру */
  padding-bottom: 92px; /* Поля внутри контейнера */
  display: flex; /* флексбокс */
  flex-direction: column; /* вертикальное выравнивание */
  align-items: center; /* выравнивание по центру */
  box-sizing: border-box; /* При помощи свойства box-sizing можно изменить то, как браузер будет рассчитывать размеры элемента.
  🤖 Если задать значение border-box для свойства box-sizing, то браузер изменит принцип расчёта и padding с border уже будут включены в width и height. */
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead {
    max-width: 928px; /* Максимальная Ширина контейнера */
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead {
    padding-bottom: 88px; /* внутренние отступы от следующего блока */
  }
}

@media screen and (max-width: 767px) {
  .lead {
    padding-bottom: 64px; /* Внутренние отступы от следующего блока */
  }
}
