.header__logo {
  width: 176px; /* ширина блока*/
  height: 52px; /* высота блока */

}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 142px; /* ширина блока в отзывчивости*/
    height: 42px; /* высота блока в отзывчивости*/
  }
}
