.footer__author {
  margin: 0; /* сброс отступов */
  font-family: 'Inter', Arial, sans-serif; /* шрифт */
  font-style: normal; /* формат шрифта */
  font-weight: normal; /* жирность шрифта */
  font-size: 14px; /* размер шрифта */
  line-height: 1.14; /* высота строки */
  color: #FFFFFF; /* цвет текста */
}

@media screen and (max-width: 767px) {
  .footer__author {
    margin-top: 48px; /* отступ сверху */
    line-height: 1; /* высота строки */
    max-width: 230px; /* максимальная ширина */
}
}
