.intro__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 100vh;
    width: 690px;
    max-height: 429px;
    margin: 92px 92px 442px 142px;
}