.intro__text {
  max-width: 690px; /* максимальная ширина */
  margin: 0 0 33px 0; /*внешний отступ от следующего элемента*/
  font-family: 'Inter', Arial, sans-serif; /* шрифт */
  font-style: normal; /* стиль шрифта */
  font-weight: normal;  /* жирность шрифта */
  font-size: 16px;    /* размер шрифта */
  line-height: 1.63;  /* высота строки */
  color: #FFFFFF; /* цвет текста */
}
