.lead__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 984px) {
  .lead__content {
    max-width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .lead__content {
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .lead__content {
    max-width: 100%;
  }
}
