.places__place {
    max-width: 984px;
    max-height: 660px;
    margin-top: 0;
    margin-bottom: 80px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}