.place {
  padding: 40px 0; /* внтуренний верхний отступ формирует растояние между элементами, а еще добавляет пространство между основными секциями*/
  display: grid; /* грид сетка */
  grid-template-columns: 460px 1fr; /* 2 колонки (1 - 469 пикс, 2 - фракция(свободное пространство) */
  grid-template-rows: 1fr; /* 1 строка которая заполняется равномерно */
  grid-gap: 48px 40px; /* отступ между колонками и строкой */
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place {
    grid-template-columns: 440px 1fr; /* 2 колонки (1 - 440 пикс, 2 - фракция(свободное пространство) */
    grid-gap: 48px 32px; /* отступ между колонками и строкой */
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place {
    padding: 36px 0; /* внутренний отступ формирует растояние между элементами, а еще добавляет пространство между основными секциями*/
    grid-template-columns: 340px 1fr; /* 2 колонки (1 - 340 пикс, 2 - фракция(свободное пространство) */
    grid-gap: 48px 28px; /* отступ между колонками и строкой */
  }
}

@media screen and (max-width: 767px) {
  .place {
    padding: 24px 0;
    grid-template-columns: minmax(288px, 1fr); /* 2 колонки (минимальный размер - 288 пикс, максимальный размер 2 - фракция(свободное пространство) */
    grid-gap: 32px; /* отступ между колонками и строкой */
  }
}
