.header__lang-link {
  order: 2;
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}
.header__lang-link p:first-child {
  text-decoration: underline;
}

.header__lang-link p {
  margin-left: 18px;
}
